:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --contacts-ftr-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --header-logo: #000000;
  --footer-logo: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: var(--primary-bg-color);
  color: var(--title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.button {
  display: block;
  background: var(--accent-color);
  color: var(--second-accent-color);
  margin: 0 auto;
  width: 200px;
  height: 50px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button:hover, .button:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  fill: #000000;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__close-btn:hover, .modal__close-btn:focus {
  fill: var(--accent-color);
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__field {
  margin-bottom: 10px;
}

.modal__field:nth-child(4) {
  margin-bottom: 20px;
}

.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
}

.modal__input-wrap {
  position: relative;
}

.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000000;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input:hover, .modal__input:focus {
  border-color: var(--accent-color);
}
.modal__input:hover + .modal__icon, .modal__input:focus + .modal__icon {
  fill: var(--accent-color);
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}
.modal__textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__check-field {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal__check {
  position: absolute;
  top: 0;
  left: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__check:checked + .modal__check-text::before {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
}
.modal__check:hover + .modal__check-text::before, .modal__check:focus + .modal__check-text::before {
  border-color: var(--accent-color);
}

.modal__check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
}
.modal__check-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
}

.modal__check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 2px;
}

.header__container {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #ececec;
}
.header__container .container {
  display: flex;
  align-items: center;
}

.header__web {
  font-family: "Raleway";
  font-style: normal;
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.header__studio {
  color: var(--header-logo);
  margin-right: 93px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
  color: var(--title-color);
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__link:hover, .header__link:focus {
  color: var(--accent-color);
}

.header__current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}
.header__current::after {
  content: "";
  position: absolute;
  background: var(--accent-color);
  border-radius: 2px;
  height: 4px;
  width: 100%;
  bottom: -32px;
  left: 0px;
}

.contacts {
  margin-left: auto;
  display: flex;
  justify-content: center;
}

.contacts__item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  height: 16px;
}

.contacts__item + .contacts__item {
  margin-left: 30px;
}

.contacts__link {
  text-decoration: none;
  color: var(--text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-color);
}
.contacts__link:hover .contacts__icon, .contacts__link:focus .contacts__icon {
  fill: var(--accent-color);
}

.contacts__icon {
  fill: var(--text-color);
  margin-right: 10px;
}

.hero__container {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: #c4c4c4;
  color: var(--second-accent-color);
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  max-width: 696px;
  margin: 0 auto 30px;
}

.features__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.features__wrap {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.features__wrap:not(:last-child) {
  margin-right: 30px;
}

.features__list {
  display: flex;
  align-items: center;
}

.features__item {
  width: 270px;
}
.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.work__container {
  padding-bottom: 94px;
}

.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.work__list {
  display: flex;
  margin-left: -30px;
}

.work__item {
  width: 370px;
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
}

.work__overlay {
  position: relative;
}

.work__desc {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0px;
}

.team__container {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.team__list {
  display: flex;
  margin-left: -30px;
}

.team__item {
  background: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  flex-basis: calc(25% - 30px);
  margin-left: 30px;
}

.team__desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__subtitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.team__soc-list {
  display: flex;
  justify-content: center;
}

.social__item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.social__item:last-child {
  margin-right: 0;
}

.social__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social__link:hover, .social__link:focus {
  background-color: var(--accent-color);
  fill: var(--second-accent-color);
}

.clients__container {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
  justify-content: center;
}

.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
}
.clients__item:last-child {
  margin-right: 0;
}

.clients__link {
  text-decoration: none;
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__link:hover, .clients__link:focus {
  border: 1px solid #2196f3;
  color: var(--accent-color);
  fill: var(--accent-color);
}

.footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  display: flex;
  align-items: baseline;
}

.footer__web {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer__studio {
  color: var(--footer-logo);
}

.address__list {
  font-style: normal;
  margin-top: 20px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}

.address__link {
  color: var(--second-accent-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address__contact-link {
  text-decoration: none;
  color: var(--contacts-ftr-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.address__contact-link:hover, .address__contact-link:focus {
  color: var(--accent-color);
}

.footer__social {
  margin-left: 70px;
}

.footer__soc-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}

.footer__soc-list {
  display: flex;
  justify-content: center;
}

.footer__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.footer__soc-item:last-child {
  margin-right: 0;
}

.footer__soc-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__soc-link:hover, .footer__soc-link:focus {
  background-color: var(--accent-color);
  fill: var(--second-accent-color);
}

.footer__subscribe {
  margin-left: 93px;
}

.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}

.subscribe__form {
  display: flex;
  align-items: center;
}

.subscribe__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe__input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.subscribe__input:hover, .subscribe__input:focus {
  border-color: var(--accent-color);
}

.subscribe__icon {
  fill: var(--second-accent-color);
  margin-left: 10px;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.project-button {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.project-button__item:not(last-child) {
  margin-right: 8px;
}

.project-button__filter {
  background: #f5f4fa;
  color: var(--title-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  border: 0px;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project-button__filter:hover, .project-button__filter:focus {
  background: var(--accent-color);
  color: var(--second-accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__projects {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}

.project__box {
  background: #ffffff;
  width: 370px;
  flex-basis: calc(33.3333333333% - 30px);
  margin: 15px;
}
.project__box:hover, .project__box:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project__link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.project__link:hover .project__overlay-text, .project__link:focus .project__overlay-text {
  transform: translateY(0%);
}

.project__overlay-card {
  position: relative;
  overflow: hidden;
}

.project__overlay-text {
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.project__desc {
  border: 1px solid #eeeeee;
  border-top-width: 0px;
  background: var(--primary-bg-color);
  padding: 20px 24px;
}

.project__subtitle {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project__text {
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}/*# sourceMappingURL=main.css.map */