.clients__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.clients__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.clients__list {
  display: flex;
  justify-content: center;
}
.clients__item {
  width: 170px;
  height: 92px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0;
  }
}

.clients__link {
  text-decoration: none;
  fill: #afb1b8;
  width: 100%;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border: 1px solid #2196f3;
    color: var(--accent-color);
    fill: var(--accent-color);
  }
}
