.features__container {
  padding-top: 94px;
  padding-bottom: 94px;
}
.features__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}
.features__wrap {
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features__list {
  display: flex;
  align-items: center;
}
.features__item {
  width: 270px;
  &:not(:last-child) {
    margin-right: 30px;
  }
}
.features__subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.features__text {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
