.footer {
  background: var(--footer-bg-color);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
  align-items: baseline;
}
.footer__web {
  text-decoration: none;
  color: var(--accent-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.footer__studio {
  color: var(--footer-logo);
}
.address__list {
  font-style: normal;
  margin-top: 20px;
}
.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  color: var(--second-accent-color);
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address__contact-link {
  text-decoration: none;
  color: var(--contacts-ftr-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    color: var(--accent-color);
  }
}

.footer__social {
  margin-left: 70px;
}
.footer__soc-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}
.footer__soc-list {
  display: flex;
  justify-content: center;
}
.footer__soc-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
}

.footer__soc-link {
  text-decoration: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--second-accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: var(--accent-color);
    fill: var(--second-accent-color);
  }
}

.footer__subscribe {
  margin-left: 93px;
}
.subscribe__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-accent-color);
  margin-bottom: 20px;
}
.subscribe__form {
  display: flex;
  align-items: center;
}
.subscribe__input {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding-left: 16px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
}

.subscribe__icon {
  fill: var(--second-accent-color);
  margin-left: 10px;
}
