.work__container {
  padding-bottom: 94px;
}
.work__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.work__list {
  display: flex;
  margin-left: -30px;
}
.work__item {
  width: 370px;
  flex-basis: calc(100% / 3 - 30px);
  margin-left: 30px;
}
.work__overlay {
  position: relative;
}
.work__desc {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 100%;
  bottom: 0px;
}
