.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--primary-bg-color);
  box-shadow: 0px 1px 3px rgb(0 0 0 / 12%), 0px 1px 1px rgb(0 0 0 / 14%),
    0px 2px 1px rgb(0 0 0 / 20%);
  border-radius: 4px;
  padding: 40px;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-bg-color);
  fill: #000000;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal__field {
  margin-bottom: 10px;
}
.modal__field:nth-child(4) {
  margin-bottom: 20px;
}
.modal__label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--text-color);
  margin-bottom: 5px;
  display: block;
}
.modal__input-wrap {
  position: relative;
}
.modal__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  fill: #212121;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-size: 16px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #000000;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    border-color: var(--accent-color);
  }
  &:hover + .modal__icon,
  &:focus + .modal__icon {
    fill: var(--accent-color);
  }
}

.modal__textarea {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  &::placeholder {
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
  }
}

.modal__check-field {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal__check {
  position: absolute;
  top: 0;
  left: 0;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:checked + .modal__check-text::before {
    background-color: var(--accent-color);
    border-color: var(--accent-color);
    background-image: url(../images/check.svg);
    background-repeat: no-repeat;
    background-position: center;
  }
  &:hover + .modal__check-text::before,
  &:focus + .modal__check-text::before {
    border-color: var(--accent-color);
  }
}

.modal__check-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  display: flex;
  align-items: center;
  &::before {
    content: "";
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    margin-right: 8px;
  }
}

.modal__check-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
  text-decoration: underline;
  margin-left: 2px;
}
