:root {
  --text-color: #757575;
  --title-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --contacts-ftr-color: rgba(255, 255, 255, 0.6);
  --primary-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  --header-logo: #000000;
  --footer-logo: #ffffff;
}
